#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: none;
  width: 300px;
  height: auto;
  border-radius: 50px;
  background: #2b0040;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5a1e76;
  background-image: url("./assets/tic. tac.toe..svg");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: bottom left;
}
