@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

button {
  font-family: "Fredoka", sans-serif;
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f4f6f5;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  border: none;
}

button:hover {
  background-color: #c5a0d7;
  transition: background-color 100ms ease-out, border-radius 100ms ease-out;
}

/* Game board styles */
.game-board {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border-radius: 50px;
}

/* Row styles */
.row,
.rowPlayer {
  display: flex;
  grid-column: 1 / 4;
}

/* Score cell styles */
.scoreCellO,
.scoreCellX {
  font-weight: bold;
  width: 100%;
  background: #e2be00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  border-radius: 15px;
  flex-direction: column;
}

.scoreCellX {
  background: #48d2fe;
}

/* Cell styles */
.cellX,
.cellO {
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  margin: 10px;
  background-color: #43115b;
  border-radius: 10px;
}

.cellX {
  color: #48d2fe;
}

.cellO {
  color: #e2be00;
}

.cell:hover {
  background: #5a1e76;
}

/* Winner text styles */
.winner {
  font-weight: bold;
  margin: 5px;
  color: #c5a0d7;
}
